




/***********************************************************************************************************************

Utilities

/**********************************************************************************************************************/
.jumbotron h1, .jumbotron .h1 {
    font-size: 50px;
}
.jumbotron .help-block{
    font-size: 17px;
}
.other-info{

}

.other-info p{
    font-size: 16px;
}

/***********************************************************************************************************************

Helpers

/**********************************************************************************************************************/
.print_results{
    bottom: 0;
    display: block;
    left: 40%;
    margin: 20px 0;
}
.msg_status{
    text-transform: capitalize;
}
.screen_mode{
    text-transform: capitalize;
}



